[user]
	name = Maxim Strelnikov
	email = max.strelnikov@pipedrive.com
[alias]
	co = checkout
	ci = commit
	st = status
[url "ssh://git@github.com/pipedrive"]
        insteadOf = https://github.com/pipedrive
